<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>RTSP/AES67 to WebRTC</title>
    <style>
      .container {
        display: grid;
      }
      body {
        max-width: 1200px !important;
      }
    </style>
  <body>
    <h1>RTSP/AES67 to WebRTC</h1>
    <audio controls id="audio_track" autoplay></audio>
    <hr>
    <div class="video-container">
      <video
      width="49%"
      id="webrtc-video-1"
      autoplay
      muted
      playsinline
      style="max-width: 100%; max-height: 100%"
      ></video>
      <video
        width="49%"
        id="webrtc-video-2"
        autoplay
        muted
        playsinline
        style="max-width: 100%; max-height: 100%"
      ></video>
      <video
        width="49%"
        id="webrtc-video-3"
        autoplay
        muted
        playsinline
        style="max-width: 100%; max-height: 100%"
      ></video>
      <video
        width="49%"
        id="webrtc-video-4"
        autoplay
        muted
        playsinline
        style="max-width: 100%; max-height: 100%"
      ></video>
      <video
        width="49%"
        id="webrtc-video-5"
        autoplay
        muted
        playsinline
        style="max-width: 100%; max-height: 100%"
      ></video>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        function startAudioPlay(audioElement, url) {
          // create new connection
          console.log("Starting connection")
          const peerConnection = new RTCPeerConnection({
            iceServers: [
                { urls: "stun:stun.l.google.com:19302" },
                { urls: "stun:stun1.l.google.com:19302" },
                { urls: "stun:stun2.l.google.com:19302" },
            ],
            sdpSemantics: "unified-plan",
          });

          // add mic stream 
          navigator.mediaDevices.getUserMedia({ audio: true })
          .then(stream => {
            stream.getTracks().forEach(track => peerConnection.addTrack(track, stream));
            console.log("added streams to call")
          })
          .catch(error => {
            // Handle errors
          });
          
          // Handle received audio tracks
          peerConnection.ontrack = function (event) {
            console.log("Received track:", event.track);
            audioElement.srcObject = event.streams[0]; // Use the first stream
            audioElement.onloadedmetadata = () => {
                    console.log("Audio metadata loaded, attempting to play...");
                    audioElement.play()
                        .then(() => console.log("Remote audio playback started"))
                        .catch(e => console.error("Error playing remote audio:", e));
                };
          };

          // Log ICE connection state
          peerConnection.oniceconnectionstatechange = () => {
            console.log('ICE Connection State:', peerConnection.iceConnectionState);
          };

          // Signaling logic: Offer negotiation with the server
          peerConnection.onnegotiationneeded = function handleNegotiationNeeded() {
              console.log("Creating offer")
              peerConnection.createOffer().then((offer) => {
                return peerConnection.setLocalDescription(offer);
              }).then(() => {
                return new Promise(resolve => {
                    // add event listener on ice gathering state only if it's not complete.
                    if (peerConnection.iceConnectionState === 'complete') {
                        resolve();
                    } else {
                        let waitComplete = () => {
                            if (peerConnection.iceGatheringState === 'complete') {
                              peerConnection.removeEventListener('icegatheringstatechange', waitComplete);
                                resolve();
                            }
                        }
                        peerConnection.addEventListener('icegatheringstatechange', waitComplete);
                    }
                });
              }).then(() => {
                const offerJSON = JSON.stringify(peerConnection.localDescription);
                return fetch(url, {
                  method: "POST",
                  headers: {"content-type": "application/json",},
                  body: btoa(offerJSON),
                });
              }).then(response => {
                return response.text(); // this is a Promise
              }).then(answer => {
                const remoteDesc = new RTCSessionDescription(JSON.parse(answer));
                return peerConnection.setRemoteDescription(remoteDesc);
              }).catch(error => {
                console.error("Error in negociation", error);
              });
          };
        }

        startAudioPlay(document.querySelector("#audio_track"), "http://localhost:8083/audio/webrtc");
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        function startPlay(videoEl, url) {
          const webrtc = new RTCPeerConnection({
            iceServers: [
              {
                urls: ["stun:stun.l.google.com:19302"],
              },
            ],
            sdpSemantics: "unified-plan",
          });

          webrtc.ontrack = function (event) {
            console.log(event.streams.length + " track is delivered");
            videoEl.srcObject = event.streams[0];
            videoEl.play();
          };

          webrtc.addTransceiver("video", { direction: "sendrecv" });

          webrtc.onnegotiationneeded =
            async function handleNegotiationNeeded() {
              let offer = await webrtc.createOffer();
              await webrtc.setLocalDescription(offer);

              fetch(url, {
                method: "POST",
                headers: {
                  "content-type":
                    "application/x-www-form-urlencoded; charset=UTF-8",
                  "cache-control": "no-cache",
                },
                body: `data=${btoa(webrtc.localDescription.sdp)}`,
              })
                .then((response) => response.text())
                .then((data) => {
                  try {
                    webrtc.setRemoteDescription(
                      new RTCSessionDescription({
                        type: "answer",
                        sdp: atob(data),
                      })
                    );
                  } catch (e) {
                    console.warn(e);
                  }
                });
            };

          const webrtcSendChannel = webrtc.createDataChannel(
            "rtsptowebSendChannel"
          );

          webrtcSendChannel.onopen = (event) => {
            console.log(`${webrtcSendChannel.label} has opened`);
            webrtcSendChannel.send("ping");
          };

          webrtcSendChannel.onclose = (_event) => {
            console.log(`${webrtcSendChannel.label} has closed`);
            startPlay(videoEl, url);
          };

          webrtcSendChannel.onmessage = (event) => console.log(event.data);
        }
        function startAudioPlay(videoEl, url) {
    const webrtc = new RTCPeerConnection({
      iceServers: [
        {
          urls: ["stun:stun.l.google.com:19302"],
        },
      ],
      sdpSemantics: "unified-plan",
    });

    webrtc.ontrack = function (event) {
      console.log(event.streams.length + " track is delivered");
      videoEl.srcObject = event.streams[0];
      videoEl.play();
    };

    webrtc.addTransceiver("audio", { direction: "sendrecv" });

    webrtc.onnegotiationneeded = async function handleNegotiationNeeded() {
      let offer = await webrtc.createOffer();
      await webrtc.setLocalDescription(offer);

      fetch(url, {
        method: "POST",
        headers: {
          "content-type": "application/x-www-form-urlencoded; charset=UTF-8",
          "cache-control": "no-cache",
        },
        body: `data=${btoa(webrtc.localDescription.sdp)}`,
      })
        .then((response) => response.text())
        .then((data) => {
          try {
            webrtc.setRemoteDescription(
              new RTCSessionDescription({ type: "answer", sdp: atob(data) })
            );
          } catch (e) {
            console.warn(e);
          }
        });
    };

    const webrtcSendChannel = webrtc.createDataChannel("rtsptowebSendChannel");

    webrtcSendChannel.onopen = (event) => {
      console.log(`${webrtcSendChannel.label} has opened`);
      webrtcSendChannel.send("ping");
    };

    webrtcSendChannel.onclose = (_event) => {
      console.log(`${webrtcSendChannel.label} has closed`);
      startAudioPlay(videoEl, url);
    };

    webrtcSendChannel.onmessage = (event) => console.log(event.data);
  }

        startAudioPlay(
          document.querySelector("#webrtc-audio-1"),
          "http://localhost:8083/audio/webrtc/"
        );
        startPlay(
          document.querySelector("#webrtc-video-1"),
          "http://localhost:8083/stream/demo1/channel/0/webrtc?uuid=demo1&channel=0"
        );
        startPlay(
          document.querySelector("#webrtc-video-2"),
          "http://localhost:8083/stream/demo1/channel/1/webrtc?uuid=demo1&channel=1"
        );
        startPlay(
          document.querySelector("#webrtc-video-3"),
          "http://localhost:8083/stream/demo1/channel/2/webrtc?uuid=demo1&channel=2"
        );
        startPlay(
          document.querySelector("#webrtc-video-4"),
          "http://localhost:8083/stream/demo1/channel/3/webrtc?uuid=demo1&channel=0"
        );
        startPlay(
          document.querySelector("#webrtc-video-5"),
          "http://localhost:8083/stream/demo1/channel/4/webrtc?uuid=demo1&channel=1"
        );
      });
    </script>
  </body>
</html>

